{% extends "base.twig" %}


{% block title %}Catégories
{% endblock %}

{% set nbPages = num_categorie // records_per_page %}

{% block main %}
	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
		<h1 class="h2">Catégories</h1>
		<div class="btn-toolbar mb-2 mb-md-0">
			<div class="btn-group me-2">
				<a class="btn btn-sm btn-outline-secondary" href="create_categorie.php">Ajouter une catégorie</a>
			</div>
		</div>
	</div>

	<table class="table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Nom</th>
				<th scope="col">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for categorie in categories %}
				<tr>
					<th scope="row">{{ categorie.id }}</th>
					<td>{{ categorie.type }}</td>
					<td>
						<div class="btn-group me-2">
							<a class="btn btn-sm btn-outline-primary" href="update_categorie.php?id={{categorie.id}}">Modifier</a>
							<a class="btn btn-sm btn-outline-danger" href="delete_categorie.php?id={{categorie.id}}">Supprimer</a>
						</div>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<nav aria-label="Navigation catégories">
		<ul class="pagination">
			{% if page > 1 %}
				<li class="page-item">
					<a class="page-link" href="read_categorie.php?page={{ page - 1 }}" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>
			{% endif %}

			{% for i in 1..nbPages + 1 %}
				<li class="page-item">
					<a class="page-link" href="read_categorie.php?page={{ i }}">{{ i }}</a>
				</li>
			{% endfor %}

			{% if page * records_per_page < num_categorie %}
				<li class="page-item">
					<a class="page-link" href="read_categorie.php?page={{ page + 1 }}" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
			{% endif %}
		</ul>
	</nav>
{% endblock %}
